*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1{
    font-size: 40px;
    background-color: #c1fb97;
    color: #000;
    width: 100%;
    text-align: center;
    padding: 20px;
}

nav{
    width: 100%;
    background-color: #4aa608c3;
    padding: 20px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}
nav a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    margin-right: 20px ;
}
    .nav-align{
        float: right;
    }
    nav a:hover{
        font-size: larger;
        font-weight: bolder;
    }
    

main{
    margin-top: 0;
}
.contenido{
    height: 600px;
    padding: 20px;
}
    #seccion1{
        background-color: #000000c0;
        color: #c6f3a5;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
        .interior-seccion1{
            min-width: 45%;
            max-width: 48%;
            margin: 5px;
            border-radius: 10px;
            box-shadow: 0 0 8px 0 rgba(256, 256, 256, 0.4);
            padding: 30px;
        }
    #seccion2{
        background-color: #e20707;
        color: #000;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .contenido-seccion2{
            padding: 20px;
            width: 80%;
            margin: auto;
        }
        #seccion2 img{
            width: 80%;
            margin: 10%;
            max-height: 500px;
        }
    #seccion3{
        background-color: #34742a;
        color: #ffffff;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .contenido-seccion3{
            padding: 20px;
            width: 80%;
            margin: auto;
        }
        #seccion3 img{
            width: 80%;
            margin: 10%;
            max-height: 500px;
        }
    #seccion4{
        background-color: #000000a6;
        color: #fff;
        text-align: center;
    }
        #seccion4 h1{
            margin: 20px;
        }
        .galeria-port{
            margin: 100px auto;
            width: 90%;
            display: flex;
            justify-content: space-evenly;/* hace de repartir los espacios en el contenido para llenarlo */
            flex-wrap: wrap;/* Permite que se acomoden los divs a medida del tamaño */
        }    
        /* El div de las imagenes */
        .imagen-port{
            width: 22%;
            min-width: 23%;
            height: 200px;
            margin-bottom: 15px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 8px 6px rgba(256, 256, 256, 0.4) ;
        }    
    
        .imagen-port img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            display: block;
        }
    
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            background: #2c726695;
            transition: transform 1s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            .hover-galeria img{
             width: 50px;
            }
            .hover-galeria p{
                color: #fff;
            }
            .imagen-port:hover .hover-galeria{
                transform: scale(1);
            }

footer{
    bottom: 0;
    padding: 40px;
    width: 100%;
    background-color: #000;
    color: #4aa608;
}
.form-container{
    flex: 1;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}   
label{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"]{
    margin-right: 5px;
}

label.radio-label{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

button[type="submit"]{
    background-color: #00ffc8;
    color: black;
    border: none;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button[type="submit"]:hover{
    background-color: #000;
    color: #fff;
}